.container {
  position: relative;
  color: white;
}
.at-container :hover {
  shadow: ;
}
.image {
  display: block;
  color: white;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s ease;
  color: white;
  background: rgba(0, 0, 0, 0.7);
}

.container:hover .overlay {
  opacity: 1;
  color: white;
  z-index: 1;
}

.text {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
