body {
  background: linear-gradient(135deg, white 30%, #41b3a3 100%);
  font-family: "work sans";
}

@media (max-width: 640px) {
  .coreDiv iv {
    width: 100%;
    padding: 0;
  }
  .firstDiv {
    background: none;
    padding-left: 0;
    width: 100%;
  }
}
.form-container {
  margin: 30px auto;
  width: 1400px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 10px;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-content-left {
  border-radius: 0 10px 10px 0;
  position: relative;
}

.form-img {
  width: 100px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(125deg, #e27d60 0%, #e8a87c 100%);
}

.form-img-2 {
  width: 60%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  color: white;
}

.form-success {
  text-align: center;
  font-size: 24px;
  margin-top: 80px;
  color: white;
}

.form-content-right {
  border-radius: 10px 0 0 10px;
  position: relative;
  background: #d48170;
  /* background: #2fa892; */
  color: white;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.form h1 {
  /* color: ; */
  background: #2fa892;

  font-size: 2rem;
  text-align: start;
  width: 80%;
  margin-bottom: 1rem;
}

.form-inputs {
  margin-bottom: 0.5rem;
  width: 80%;
}

.form-inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #f54040;
}

.form-label {
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 6px;
  color: #fff;
}
.div-Combobox {
  width: 103%;
  height: 40px;
  margin-top: 10px;
  border-radius: 30px;
  background: white;
}

.form-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 30px;
  height: 40px;
  width: 100%;
  border: none;
}

.form-input::placeholder {
  color: #595959;
  font-size: 12px;
}

.form-input-btn {
  width: 80%;
  height: 50px;
  margin-top: 10px;
  border-radius: 30px;
  background: #262657;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}

.form-input-btn:hover {
  cursor: pointer;
  background: #be8adb;
  color: #262657;
  /* background: linear-gradient(
    90deg,
    rgb(39, 143, 255) 0%,
    rgb(12, 99, 250) 100%
  ); */
  transition: all 0.4s ease-out;
}

.form-input-login {
  font-size: 0.8rem;
  margin-top: 10px;
  color: #fff;
  width: 80%;
  text-align: center;
}

.form-input-login a {
  text-decoration: none;
  color: #be8adb;
  font-weight: 600;
}
